## Python Data Structures
1. Boolean
2. Boolean and Logical Operators
3. Lists
4. Comparison operators
5. Dictionaries
6. Tuples
7. Sets

In [1]:
b = bool(True)

In [2]:
b

True

In [4]:
True

True

In [5]:
False

False

In [6]:
type(True)

bool

In [7]:
type(bool())

bool

In [8]:
str="Hello World!"

In [9]:
print(str.isalnum())
print(str.isalpha())
print(str.istitle())
print(str.endswith("!"))
print(str.startswith("A"))

False
False
True
True
False

### Boolean and Logical operators

In [10]:
True and True

True

In [11]:
True and False

False

In [12]:
True or True

True

In [13]:
True or False

True

In [15]:
str1="Hello"
str2="World"

str1.isalpha() or str2.isnumeric()

True

### List
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [31]:
type([])

list

In [46]:
lst = [1,2,3,4]
lst

[1, 2, 3, 4]

In [47]:
lst[1]

2

In [48]:
# adding elements at the end of the list
lst.append(5)
lst

[1, 2, 3, 4, 5]

In [49]:
# appending list inside a list
lst.append([6,7])
lst

[1, 2, 3, 4, 5, [6, 7]]

In [50]:
l = ["Hello","World",100,200]
l.extend([300,400])
l

['Hello', 'World', 100, 200, 300, 400]

In [51]:
# inserting element at specified index position
l.insert(3,150)
l

['Hello', 'World', 100, 150, 200, 300, 400]

In [63]:
# summing all elements of the list
lst = [1,2,3,4,5]
sum(lst)

15

In [64]:
# removes element at the end of the list
lst.pop()

5

In [65]:
lst

[1, 2, 3, 4]

In [66]:
# removes element from the specified index position
lst.pop(1)

2

In [67]:
lst

[1, 3, 4]

In [68]:
# counts total occurrences of the given element in the list
lst = [1,1,2,3,4,5]
lst.count(1)

2

In [69]:
# length of the list
len(lst)

6

In [70]:
# gives index of the specified element from the list.
lst.index(1)

0

In [59]:
# gives index of the specified element from the list within the given start and end position.
lst.index(1,1,4)

1

In [60]:
# maximum element from the list
max(lst)

5

In [71]:
# minimum element from the list
min(lst)

1

## Set
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [78]:
s1 = set()

In [79]:
s1.add(1)
s1.add(2)
s1.add(3)
s1

{1, 2, 3}

In [80]:
s2 = {1,2,3,4,5,6}
s2

{1, 2, 3, 4, 5, 6}

In [81]:
for ele in s2:
    print(ele)

1
2
3
4
5
6

In [82]:
s1.remove(2)
s1

{1, 3}

In [84]:
s1.remove(5) # trying to remove element which is not present in list will give keyerror 
                # hence better to user discard function.

KeyError: 5

In [85]:
s1.discard(5)
s1

{1, 3}

In [86]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [88]:
set2.difference(set1)

{'Hulk2'}

In [89]:
set2 # no change in set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [90]:
set2.difference_update(set1)

In [91]:
set2 # changed

{'Hulk2'}

## Dictionary
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [92]:
dict = {}
type(dict)

dict

In [93]:
my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}
type(my_dict)

dict

In [94]:
##Access the item values based on keys
my_dict["Car2"]

'BMW'

In [99]:
# looping through dictionary keys
for key in my_dict:
    print(key,'--',my_dict[key])

Car1 -- Audi
Car2 -- BMW
Car3 -- Mercidies Benz

In [96]:
# looping through dictionary values
for val in my_dict.values():
    print(val)

Audi
BMW
Mercidies Benz

In [101]:
# looping through both keys and values
for item in my_dict.items():
    print(item) # returns each entry as tuple of key value

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [102]:
# adding item in dictionary
my_dict["Car4"]="Mustang"

In [103]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Mustang'}

# Nested dictionary

In [104]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type = {'car1':car1_model,'car2':car2_model,'car3':car3_model}
car_type

{'car1': {'Mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Ambassador': 1980}}

In [105]:
# accessing values
car_type["car1"]

{'Mercedes': 1960}

In [106]:
car_type["car1"]["Mercedes"]

1960

## Tuples
Tuples are used to store multiple items in a single variable. <br/>
A tuple is a collection which is ordered and unchangeable (elements cannot be added later once tuple is created).<br/>
Duplicates are allowed. <br/>
A tuple can contain different data types.<br/>
Tuples are written with round brackets.

In [108]:
t = tuple()
type(t)

tuple

In [112]:
my_tuple = ("Hello","World","Hello")
print(type(my_tuple))

<class 'tuple'>

In [113]:
my_tuple

('Hello', 'World', 'Hello')

In [114]:
my_tuple.count("Hello")

2

In [118]:
my_tuple.index("Hello",1,3)

2